/* **************************************** PRINT *********************************** */

@media screen {
    body {
        transform: scale(0.76);
    }
}

body * {
    visibility: hidden;
}

body {
    background: rgb(83, 83, 83);
}

.output1 {
    visibility: visible;
    position: absolute;
    left: -95.5mm;
    background-color: #fff;
    padding: 0;
    width: 290mm;
    height: 418mm;
}

.output1 * {
    visibility: visible;
}

.output2 {
    visibility: visible;
    position: absolute;
    top: 420mm;
    left: -95.5mm;
    background-color: #fff;
    padding: 0;
    width: 290mm;
    height: 418mm;
}

.output2 * {
    visibility: visible;
}

/* *********************** header ******************** */
.print-logo {
    width: 60mm;
    margin-top: 10mm;
    margin-left: 13mm;
}

.print-logo-title {
    font-family: OpenSans-Bold;
    font-size: 4.1mm;
    margin: 2mm 13mm 6mm;
    width: 70mm;
}

.print-logo-hr {
    border-style: none;
    background-color: #009483;
    height: 7px;
    margin: 0;
}

.print-date-box {
    display: inline-block;
    position: absolute;
    top: 51mm;
    right: 20mm;
    border: solid 0.7mm #555;
    color: #555;
    padding: 0.5mm 5mm;
    font-family: OpenSans-Bold;
    font-size: 6mm;
}

/* *********************** left & right block ******************** */
.print-left-block {
    float: left;
    height: 346mm;
    width: 13mm;
}

.print-right-block {
    position: absolute;
    right: 0;
    top: 70mm;
    height: 346mm;
    width: 13mm;
}

.gradient1 {
    background: linear-gradient(to right, #009483, #006459);
    height: 40mm;
    margin-top: 13mm;
}

.gradient2 {
    background: linear-gradient(to left, #009483, #006459);
    height: 15mm;
    margin-top: 328mm;
}

.print-vertical-line {
    float: right;
    margin-top: 6mm;
    height: 55mm;
    width: 0.2mm;
    background-color: #006459;
}

/* *********************** separators ******************** */
.print-vertical-sep {
    background-color: #006459;
    display: inline-block;
    height: 53mm;
    width: 0.2mm;
}

.print-horizontal-sep {
    background-color: #006459;
    display: inline-block;
    width: 180mm;
    height: 0.2mm;
}

#sep1.print-vertical-sep {
    position: absolute;
    top: 77mm;
    left: 82mm;
}

#sep2.print-horizontal-sep {
    position: absolute;
    top: 130mm;
    left: 50mm;
}

#sep3.print-horizontal-sep {
    position: absolute;
    top: 218mm;
    left: 50mm;
}

#sep4.print-vertical-sep {
    position: absolute;
    top: 218mm;
    right: 127mm;
    height: 85mm;
}

/* *********************** row one ******************** */
.print-row {
    display: inline-block;
}

.print-title-box {
    float: left;
    margin-top: 10mm;
}

.print-intro-box {
    float: right;
    width: 186mm;
    margin-top: 11mm;
    margin-left: 15mm;
}

.print-big-title {
    font-family: OpenSans-Bold;
    font-size: 16mm;
    margin-left: 1mm;
    margin-bottom: -2mm;
}

.print-big-sub-title {
    font-family: OpenSans-Regular;
    font-size: 7mm;
    line-height: 1.1;
    letter-spacing: -0.4mm;
    width: 60mm;
    margin-left: 2mm;
}

.print-parag {
    font-family: OpenSans-Regular;
    font-size: 5mm;
    text-align: justify;
}

/* *********************** row two ******************** */

.print-diag-title {
    font-family: OpenSans-Bold;
    color: #797979;
    font-size: 7mm;
    margin-left: 2mm;
}

.print-arches {
    display: inline-block;
    height: 48mm;
    width: 146mm;
    margin: 10mm 0 10mm 5mm;
}

.print-top-arch {
    float: left;
    height: 48mm;
    width: 70mm;
    margin-right: 5mm;
}

.print-bottom-arch {
    float: right;
    height: 48mm;
    width: 70mm;
}

.print-arch-title1 {
    font-family: OpenSans-Bold;
    font-size: 5mm;
    margin-left: 14mm;
    margin-top: 5mm;
}

.print-arch-title2 {
    font-family: OpenSans-Bold;
    font-size: 5mm;
    margin-left: 17mm;
    margin-top: 5mm;
}

.containerOne {
    float: right;
    margin-left: 13mm;
    margin-top: 5mm;
}

.legend-box {
    width: 74mm;
}

.legend4,
.legend3,
.legend2,
.legend1 {
    display: inline-block;
    margin-bottom: 2mm;
    height: 8mm;
}

.square {
    float: left;
    height: 8mm;
    width: 8mm;
    border: solid 0.5mm #555;
}

.legend4 .square {
    background-color: #a9abac;
}

.legend3 .square {
    background-color: #7fc9c1;
}

.legend2 .square {
    background-color: #d0df99;
}

.legend1 .square {
    background-color: #fff;
}

.legend-para {
    font-family: OpenSans-Regular;
    font-size: 4.5mm;
    line-height: 1;
    margin: 1.5mm 0 0 9mm;
}

.index-box {
    background-color: #dddede;
    width: 105mm;
    margin-top: 2mm;
}

.index-title-l {
    display: inline-block;
    font-family: OpenSans-Regular;
    font-size: 5mm;
    margin: 1mm 8mm 1mm 4mm;
}

.index-title-r {
    display: inline-block;
    font-family: OpenSans-Regular;
    font-size: 5mm;
    margin: 1mm 1mm 1mm 0;
}

.d-m-f {
    display: inline-block;
    border: solid 2px #555;
    background-color: #fff;
    width: 50mm;
    margin: 2mm 0 2mm 7mm;
    font-family: OpenSans-Bold;
    font-size: 6mm;
    color: #555;
    text-align: center;
}

.index-icon {
    position: relative;
    top: 1mm;
    left: 7mm;
    color: #555;
}

.dmf-sum {
    display: inline-block;
    position: relative;
    left: 13mm;
    border: solid #555;
    border-width: 3px 12px;
    background-color: #fff;
    width: 25mm;
    font-family: OpenSans-SemiBold;
    font-size: 6mm;
    color: #555;
    text-align: center;
}

.print-counter {
    position: relative;
}

#left.print-counter {
    left: 46mm;
    top: 45mm;
}

#right.print-counter {
    left: 122mm;
    top: 1mm;
}


/* *********************** row three ******************** */

.sheet-num {
    position: absolute;
    bottom: 6mm;
    right: 25mm;
    font-family: OpenSans-ExtraBold;
    font-size: 10mm;
    color: #dddede;
}

/* *********************** row four ******************** */

/* *********************** row five ******************** */

/* *********************** row six ******************** */



/* ********************************** DMF LITTLE BOXEs ******************************* */



.dmf-little-box {
    display: inline-block;
    position: relative;
    font-family: OpenSans-Bold;
    border: solid 1px #555;
    font-size: 4mm;
    color: #555;
    width: 8mm;
    height: 5mm;
    text-align: center;
}

.joke {
    position: relative;
    bottom: 0.8mm;
}

#lbox1 {
    top: 56.5mm;
    left: 4mm;
}

#lbox2 {
    top: 49.5mm;
    right: 4mm;
}

#lbox3 {
    top: 42.5mm;
    right: 10.5mm;
}

#lbox4 {
    top: 37mm;
    right: 17mm;
}

#lbox5 {
    top: 31.5mm;
    right: 23mm;
}

#lbox6 {
    top: 25mm;
    right: 26mm;
}

#lbox7 {
    top: 21.5mm;
    right: 24mm;
}

#lbox8 {
    top: 21.5mm;
    right: 21.5mm;
}

#lbox9 {
    top: 25mm;
    right: 20mm;
}

#lbox10 {
    top: 31.5mm;
    right: 22mm;
}

#lbox11 {
    top: 37mm;
    right: 28.5mm;
}

#lbox12 {
    top: 42.5mm;
    right: 35mm;
}

#lbox13 {
    top: 49.5mm;
    right: 42mm;
}

#lbox14 {
    top: 56.5mm;
    right: 50mm;
    margin-right: 5mm;
}

#lbox15 {
    top: 35.5mm;
    right: 52mm;
}

#lbox16 {
    top: 43mm;
    right: 60mm;
}

#lbox17 {
    top: 50mm;
    right: 67mm;
}

#lbox18 {
    top: 56mm;
    right: 73.5mm;
}

#lbox19 {
    top: 61.5mm;
    right: 79.5mm;
}

#lbox20 {
    top: 68mm;
    right: 82mm;
}

#lbox21 {
    top: 71mm;
    right: 80.5mm;
}

#lbox22 {
    top: 71mm;
    right: 79.5mm;
}

#lbox23 {
    top: 68mm;
    right: 78mm;
}

#lbox24 {
    top: 61.5mm;
    right: 81.5mm;
}

#lbox25 {
    top: 56mm;
    right: 87.5mm;
}

#lbox26 {
    top: 50mm;
    right: 94.5mm;
}

#lbox27 {
    top: 43mm;
    right: 101mm;
}

#lbox28 {
    top: 35.5mm;
    right: 108.5mm;
}