h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #555;
}

/* **************************************** BUTTONS *********************************** */

#print-btn-top {
    margin-top: 12mm;
    padding-left: 4mm;
    float: right;
}

#print-btn {
    padding-left: 4mm;
    float: right;
}



/* **************************************** CANVAS *********************************** */

.canvas-box {
    display: inline-block;
    width: 139mm;
    margin-left: 3mm;
}

canvas {
    float: right;
    margin-bottom: -20mm;
    position: relative;
    top: 142.5mm;
    right: 130.8mm;
}

.st5 {
    fill: #53575A;
}

.st26 {
    font-family: 'OpenSans-Bold';
}

.st45 {
    font-size: 9.5808px;
}

.st47 {
    fill: #FFB4B8;
    stroke: #53575A;
    stroke-width: 0.935;
    stroke-miterlimit: 10;
}

.st48 {
    fill: #FFF4B7;
    stroke: #53575A;
    stroke-width: 0.935;
    stroke-miterlimit: 10;
}

.st49 {
    fill: #D5F9CA;
    stroke: #53575A;
    stroke-width: 0.935;
    stroke-miterlimit: 10;
}

.st50 {
    fill: none;
    stroke: #53575A;
    stroke-width: 0.374;
    stroke-miterlimit: 10;
}

.st51 {
    fill: none;
    stroke: #53575A;
    stroke-width: 1.87;
    stroke-miterlimit: 10;
}

.st52 {
    fill: none;
    stroke: #53575A;
    stroke-width: 0.2337;
    stroke-miterlimit: 10;
}

.st57 {
    fill: #FFB4B8;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.st58 {
    fill: #FFF4B7;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.st59 {
    fill: #D5F9CA;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}


/* **************************************** OTHER *********************************** */

#bodypage4DMFT .right-block {
    margin-top: 1065px;
}

#pname-page4.page23-name {
    width: 83mm;
}

#exam-date-page4.page23-date {
    width: 35mm;
}

.square-box {
    width: 139mm;
    margin-left: 3mm;
    margin-bottom: 10mm;
}

.dmf-square {
    display: inline-block;
    border: solid #555;
    border-width: 1mm 3mm;
    background-color: #fff;
    height: 9mm;
    width: 25mm;
    font-family: OpenSans-SemiBold;
    font-size: 5mm;
    color: #555;
    text-align: center;
}

#age-dmf-square.dmf-square {
    border: solid #006459;
    border-width: 1mm 3mm;
}

.square-title {
    display: inline-block;
    font-family: OpenSans-Regular;
    font-size: 4.3mm;
    margin-right: 8mm;
}


/* **************************************** RIGHT COLUMN *********************************** */

.right-inputs-box {
    float: right;
    border-left-style: solid;
    border-left-width: 0.3mm;
    border-left-color: #006459;
    position: relative;
    bottom: 19mm;
}

.risk-box {
    border: solid 0.3mm #555;
    margin-left: 3mm;
    width: 89mm;
    height: 9mm;
}

.risk {
    color: #555;
    font-family: OpenSans-SemiBold;
    font-size: 5.5mm;
    margin-left: 3mm;
}

.risk-strong {
    font-family: OpenSans-Bold;
}

#risk-red {
    background-color: #ffb4b8;
}

#risk-yellow {
    background-color: #fff4b7;
}

#risk-green {
    background-color: #d5f9ca;
}

.pers-title {
    display: inline-block;
    font-family: OpenSans-Bold;
    font-size: 4.3mm;
    color: rgb(214 214 214);
    margin-left: 3mm;
    margin-top: 8mm;
}

.pers-box1 {
    border: solid 0.3mm #555;
    margin-left: 3mm;
    margin-top: 7mm;
    width: 89mm;
    height: 89mm;
}

.pers-box2 {
    border: solid 0.3mm #555;
    margin-left: 3mm;
    margin-top: 7mm;
    width: 89mm;
    height: 52mm;
}

.pers-box3 {
    border: solid 0.3mm #555;
    margin-left: 3mm;
    margin-top: 7mm;
    width: 89mm;
    height: 49mm;
}

.pers-input {
    font-family: OpenSans-SemiBold;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 0.3mm;
    border-bottom-color: #006459;
    height: 7mm;
    font-size: 13px;
    color: #555;
    width: 84mm;
    margin-left: 2mm;
    background-color: #fff;
}

#pers-input2 {
    position: relative;
    top: 49.1mm;
    left: 2.6mm;
    width: 75mm;
    z-index: 100;
}

.pers-input:focus {
    outline: none;
}

.pers-output {
    border: none;
    resize: none;
    width: 88mm;
    padding-right: 1mm;
    padding-left: 3mm;
    font-family: OpenSans-Regular;
    font-size: 3.5mm;
    line-height: 1.3;
}

.pers-output:focus {
    outline: none;
}

#pers1,
#pers3,
#pers4 {
    font-family: OpenSans-SemiBold;
    height: 10mm;
    margin-top: 2mm;
}

#pers1text,
#pers2text,
#pers4text {
    margin-top: -3mm;
    height: 30mm;
}

#pers3text {
    margin-top: -3mm;
    height: 33mm;
}

#pers2 {
    font-family: OpenSans-SemiBold;
    height: 10mm;
}


/* **************************************** UNDER THE PLOT *********************************** */

.dmft-ho-sep {
    background-color: #006459;
    display: inline-block;
    width: 125mm;
    height: 0.2mm;
}

#ho-sep1 {
    position: relative;
    top: 5mm;
    left: 3mm;
}

.green-box {
    margin-top: 10mm;
}

.yellow-box {
    margin-top: 3mm;
}

.red-box {
    margin-top: 3mm;
    margin-bottom: 10mm;
}

.color-block {
    float: left;
}

.color-title {
    font-family: OpenSans-ExtraBold;
    font-size: 3.7mm;
    padding-top: 1mm;
    margin-left: 16mm;
}

.color-subtitle {
    font-family: OpenSans-Regular;
    font-size: 3.7mm;
    margin: -0.4mm 0 1mm 16mm;
}

.color-text {
    font-family: OpenSans-Regular;
    font-size: 3.7mm;
    line-height: 1.3;
}

.grey-box {
    background-color: #dddede;
    font-family: OpenSans-Regular;
    font-size: 3.7mm;
    line-height: 1.3;
    width: 120mm;
    padding: 1mm 0 1mm 2mm;
}

.green-word {
    background-color: #d5f9ca;
    padding-left: 0.5mm;
    padding-right: 0.5mm;
}

.yellow-word {
    background-color: #fff4b7;
    padding-left: 0.5mm;
    padding-right: 0.5mm;
}