/* **************************************** BUTTONS *********************************** */

#print-btn-top {
    margin-top: 12mm;
    padding-left: 4mm;
    float: right;
}

#print-btn {
    padding-left: 4mm;
    float: right;
}



/* **************************************** CANVAS *********************************** */

.canvas-box {
    display: inline-block;
    width: 139mm;
    margin-left: 3mm;
}

canvas {
    float: right;
    margin-bottom: -20mm;
    position: relative;
    top: 142.5mm;
    right: 131mm;
}

.st5 {
    fill: #53575A;
}

.st26 {
    font-family: 'OpenSans-Bold';
}

.st45 {
    font-size: 9.5808px;
}

.st47 {
    fill: #FFB4B8;
    stroke: #53575A;
    stroke-width: 0.935;
    stroke-miterlimit: 10;
}

.st48 {
    fill: #FFF4B7;
    stroke: #53575A;
    stroke-width: 0.935;
    stroke-miterlimit: 10;
}

.st49 {
    fill: #D5F9CA;
    stroke: #53575A;
    stroke-width: 0.935;
    stroke-miterlimit: 10;
}

.st50 {
    fill: none;
    stroke: #53575A;
    stroke-width: 0.374;
    stroke-miterlimit: 10;
}

.st51 {
    fill: none;
    stroke: #53575A;
    stroke-width: 1.87;
    stroke-miterlimit: 10;
}

.st52 {
    fill: none;
    stroke: #53575A;
    stroke-width: 0.2337;
    stroke-miterlimit: 10;
}

.st57 {
    fill: #FFB4B8;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.st58 {
    fill: #FFF4B7;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.st59 {
    fill: #D5F9CA;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}


/* **************************************** OTHER *********************************** */

#pname-page4.page23-name {
    width: 83mm;
}

#exam-date-page4.page23-date {
    width: 35mm;
}

.square-box {
    width: 139mm;
    margin-left: 3mm;
    margin-bottom: 10mm;
}

.dmf-square {
    display: inline-block;
    border: solid #555;
    border-width: 1mm 3mm;
    background-color: #fff;
    height: 9mm;
    width: 25mm;
    font-family: OpenSans-SemiBold;
    font-size: 5mm;
    color: #555;
    text-align: center;
}

#age-dmf-square.dmf-square {
    border: solid #006459;
    border-width: 1mm 3mm;
}

.square-title {
    display: inline-block;
    font-family: OpenSans-Regular;
    font-size: 4.3mm;
    margin-right: 8mm;
}

.right-inputs-box {
    float: right;
    border-left-style: solid;
    border-left-width: 0.3mm;
    border-left-color: #006459;
}

.risk-box {
    border: solid 0.3mm #555;
    background-color: #ffb4b8;
    margin-left: 3mm;
    width: 89mm;
    height: 9mm;
}

.risk {
    color: #555;
    font-family: OpenSans-SemiBold;
    font-size: 5.5mm;
    margin-left: 3mm;
}

.risk-strong {
    font-family: OpenSans-Bold;
}