/* ********************************* PRINT OUTPUT FIVE ********************************* */

@media (min-width: 2000px) {
    #mac-resolution {
        transform: scale(1.6);
        padding-top: 800px;
    }
}


@media screen {

    .hide1 {
        display: none;
    }

    #print-logo-col {
        margin-left: 42mm;
    }

    .delta-left-block {
        background: linear-gradient(to right, #009483, #006459);
        height: 155px;
        width: 200mm;
        position: absolute;
        left: 0;
        top: 13mm;
    }

    .delta-right-block {
        background: linear-gradient(to left, #009483, #006459);
        height: 155px;
        width: 200mm;
        position: absolute;
        right: 0;
        top: 135mm;
        z-index: -10;
    }

    .delta-left-line {
        height: 215px;
        width: 1px;
        background-color: #006459;
        position: absolute;
        right: -31.2mm;
        top: 6mm;
    }

    .output1 {
        background-color: #fff;
        padding: 0 5mm;
        width: 261mm;
        height: 340mm;
        position: relative;
        bottom: 51.5mm;
        transform: scale(0.76);
    }

    .output1 .container {
        padding: 0;
    }

    .output2 {
        background-color: #fff;
        padding: 0 5mm;
        width: 261mm;
        height: 370mm;
        transform: scale(0.76);
        position: relative;
        bottom: 145mm;
    }

    .output2 .container {
        padding: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #central-col.col {
        padding-left: 0;
        padding-right: 0;
    }

    #buttons-row1 {
        padding-top: 10mm;
    }

    #buttons-row2 {
        margin-top: 10mm;
        padding-top: 10mm;
    }

    #analysis-btn5.green-button,
    #analysis-btn5-2.green-button {
        transform: scale(1.32);
        margin-left: 5mm;
    }

    #psr5-prv.prv-button,
    #psr5-prv2.prv-button {
        transform: scale(1.32);
        margin-left: 25mm;
    }

    #print-btn.green-button,
    #print-btn2.green-button {
        transform: scale(1.32);
        padding-left: 4mm;
        float: right;
    }

    /* *********************** header ******************** */
    .print-logo {
        width: 60mm;
        margin-top: 10mm;
        margin-left: 20mm;
    }

    .print-logo-title {
        font-family: OpenSans-Bold;
        font-size: 4.1mm;
        margin: 2mm 20mm 6mm;
        width: 70mm;
    }

    .print-logo-hr {
        border-style: none;
        background-color: #009483;
        height: 7px;
        margin: 0;
    }

    .print-date-box {
        display: inline-block;
        position: absolute;
        top: 51mm;
        right: 20mm;
        border: solid 0.7mm #555;
        color: #555;
        padding: 0.5mm 5mm;
        font-family: OpenSans-Bold;
        font-size: 6mm;
    }

    /* *********************** left & right block ******************** */
    .print-left-block {
        float: left;
        height: 337mm;
        width: 20mm;
    }

    .print-right-block {
        position: absolute;
        right: 0;
        top: 70mm;
        height: 337mm;
        width: 20mm;
    }

    .gradient1 {
        background: linear-gradient(to right, #009483, #006459);
        height: 40mm;
        margin-top: 13mm;
    }

    .gradient2 {
        background: linear-gradient(to left, #009483, #006459);
        height: 15mm;
        margin-top: 317mm;
    }

    .print-vertical-line {
        float: right;
        margin-top: 6mm;
        height: 55mm;
        width: 0.2mm;
        background-color: #006459;
    }

    /* *********************** separators ******************** */
    .print-vertical-sep {
        background-color: #006459;
        display: inline-block;
        height: 55mm;
        width: 0.2mm;
    }

    .print-horizontal-sep {
        background-color: #006459;
        display: inline-block;
        width: 180mm;
        height: 0.2mm;
    }

    #sep1.print-vertical-sep {
        position: absolute;
        top: 29mm;
        left: 68mm;
    }

    #sep2.print-horizontal-sep {
        position: absolute;
        top: 84mm;
        left: 30mm;
    }

    #sep3.print-horizontal-sep {
        position: absolute;
        top: 170mm;
        left: 50mm;
    }

    #sep4.print-vertical-sep {
        position: absolute;
        top: 170mm;
        right: 113mm;
        height: 85mm;
    }

    #sep5.print-horizontal-sep {
        position: absolute;
        top: 137mm;
        right: 10mm;
    }

    #sep6.print-vertical-sep {
        position: absolute;
        top: 50mm;
        right: 10mm;
        height: 120mm;
    }

    /* *********************** row one ******************** */
    .print-row {
        display: inline-block;
        width: 249mm;
    }

    .print-title-box {
        float: left;
        margin-top: 10mm;
    }

    .print-intro-box {
        float: right;
        width: 175mm;
        margin-top: 11mm;
    }

    .print-big-title {
        font-family: OpenSans-Bold;
        font-size: 16mm;
        margin-left: 1mm;
        margin-bottom: -2mm;
    }

    .print-big-sub-title {
        font-family: OpenSans-Regular;
        font-size: 7mm;
        line-height: 1.1;
        letter-spacing: -0.4mm;
        width: 60mm;
        margin-left: 2mm;
    }

    .print-parag {
        font-family: OpenSans-Regular;
        font-size: 5mm;
        text-align: justify;
    }

    /* *********************** row two ******************** */

    .print-diag-title {
        font-family: OpenSans-Bold;
        color: #797979;
        font-size: 7mm;
        margin-top: 15mm;
        margin-left: 2mm;
    }

    .print-diag {
        margin-top: 4mm;
        margin-left: 2mm;
        float: left;
        height: 45mm;
        width: 60mm;
    }

    .print-diag-subtitle {
        font-family: OpenSans-SemiBold;
        font-size: 4.5mm;
        width: 55mm;
        padding: 2mm 1mm;
        background-color: #dddede;
    }

    .print-arches {
        display: inline-block;
        height: 48mm;
        width: 141mm;
    }

    .print-top-arch {
        float: left;
        position: relative;
        right: 10mm;
        height: 48mm;
        width: 70mm;
    }

    .print-bottom-arch {
        float: right;
        position: relative;
        right: 27mm;
        height: 48mm;
        width: 70mm;
    }

    .print-arch-title1 {
        font-family: OpenSans-Bold;
        font-size: 5mm;
        margin-left: 14mm;
        margin-top: 3mm;
    }

    .print-arch-title2 {
        font-family: OpenSans-Bold;
        font-size: 5mm;
        margin-left: 17mm;
        margin-top: 3mm;
    }

    .print-legend {
        position: absolute;
        top: 101mm;
        right: 6mm;
        width: 74mm;
    }

    .legend4,
    .legend3,
    .legend2,
    .legend1,
    .legend0 {
        display: inline-block;
        margin-bottom: 2mm;
        height: 8mm;
    }

    .square {
        float: left;
        height: 8mm;
        width: 8mm;
        border: solid 0.5mm #555;
    }

    .legend4 .square {
        background-color: #d62831;
    }

    .legend3 .square {
        background-color: #fadb65;
    }

    .legend2 .square {
        background-color: #2d94c1;
    }

    .legend1 .square {
        background-color: #bbdfeb;
    }

    .legend-para {
        font-family: OpenSans-Regular;
        font-size: 4.5mm;
        line-height: 1;
        margin: 0 0 0 9mm;
    }

    .legend4 .legend-para,
    .legend3 .legend-para,
    .legend1 .legend-para {
        margin-top: 1.5mm;
    }

    .legend2 .legend-para,
    .legend0 .legend-para {
        margin-top: -0.5mm;
    }

    /* *********************** row three ******************** */
    #row3.print-row {
        margin-top: 24mm;
        margin-left: 2mm;
        padding-right: 2mm;
    }

    #row3 .print-parag {
        margin-top: 3mm;
        margin-bottom: 3mm;
    }

    .print-result-title {
        font-family: OpenSans-Bold;
        color: #797979;
        font-size: 7mm;

    }

    .print-result-subtitle {
        font-family: OpenSans-Bold;
        color: #797979;
        font-size: 5.5mm;

    }

    .print-img-box {
        float: right;
        margin-top: 10mm;
        margin-left: 10mm;
    }

    .print-img-box img {
        height: 60mm;
        margin: 0 5mm;
    }

    .desc1 {
        display: inline-block;
        text-align: center;
        width: 40mm;
        margin-left: 6mm;
        position: relative;
        bottom: 4mm;
        font-family: OpenSans-Regular;
        font-size: 4.3mm;
    }

    .desc2 {
        display: inline-block;
        text-align: center;
        width: 40mm;
        margin-left: 12mm;
        font-family: OpenSans-Regular;
        font-size: 4.3mm;
        line-height: 1;
    }

    .sheet-num {
        position: absolute;
        bottom: 6mm;
        right: 25mm;
        font-family: OpenSans-ExtraBold;
        font-size: 10mm;
        color: #dddede;
    }

    /* *********************** row four ******************** */

    #row4.print-row {
        margin-top: 10mm;
        margin-left: 2mm;
        padding-right: 10mm;
    }

    .print-list-title {
        margin-left: 5mm;
        margin-top: 4mm;
        font-family: OpenSans-SemiBold;
        font-size: 4.8mm;
    }

    .print-list li {
        margin-top: 2mm;
    }

    .print-list-foot {
        margin-top: 4mm;
        font-family: OpenSans-SemiBold;
        font-size: 4.8mm;
        line-height: 1.2;
    }

    /* *********************** row five ******************** */

    #row5.print-row {
        margin-top: 17mm;
        margin-left: 2mm;
    }

    .float-L {
        float: left;
    }

    .section2-img-box {
        background-color: #dddede;
        width: 109mm;
        margin-bottom: 5mm;
        border-radius: 15mm 0 0 0;
        padding: 2mm 2mm 2mm 0;
    }

    .print-parag-except1 {
        font-family: OpenSans-Regular;
        font-size: 5mm;
        text-align: justify;
        margin-top: 3mm;
        margin-bottom: 3mm;
    }

    .print-parag-except2 {
        font-family: OpenSans-Regular;
        font-size: 5mm;
        text-align: justify;
        margin-top: 6mm;
        margin-bottom: 8mm;
    }

    .section2-img-box img {
        margin: 3mm 6mm 5mm 0;
        float: left;
    }

    .odd-num {
        font-family: OpenSans-ExtraBold;
        font-size: 10mm;
        color: #009483;
    }

    #one1 {
        background-color: #dddede;
        width: 12mm;
        height: 12mm;
        border-radius: 50%;
        padding-left: 2mm;
        position: absolute;
        left: 25mm;
        top: 147mm;
    }

    #two2 {
        background-color: #dddede;
        width: 12mm;
        height: 12mm;
        border-radius: 50%;
        padding-left: 2mm;
        position: absolute;
        left: 25mm;
        top: 193.5mm;
    }

    #three3 {
        background-color: #dddede;
        width: 12mm;
        height: 12mm;
        border-radius: 50%;
        padding-left: 2mm;
        position: absolute;
        left: 25mm;
        top: 231.5mm;
    }

    .smoke-box {
        float: right;
        background-color: #dddede;
        width: 90mm;
        padding: 5mm;
        border-radius: 15mm 0 0 0;
        margin-right: 20mm;
    }

    .markk-container {
        float: left;
        background-color: #8b8b8b;
        width: 22mm;
        height: 22mm;
        border-radius: 50%;
        margin: 0 4mm 0 -5mm;
    }

    .markk {
        position: relative;
        left: 8mm;
        bottom: 1mm;
        font-family: OpenSans-ExtraBold;
        font-size: 20mm;
        color: #dddede;
    }

    /* *********************** row six ******************** */

    #row6.print-row {
        margin-left: 2mm;
    }

    #row6 .print-parag {
        padding-right: 20mm;
    }

    .ending {
        text-align: justify;
        font-family: OpenSans-Regular;
        font-size: 4.3mm;
        margin-top: 7mm;
        margin-right: 20mm;

    }
}















@media print {
    body * {
        visibility: hidden;
    }

    body {
        background: #fff;
    }

    #buttons-row1 {
        display: none;
    }

    #buttons-row2 {
        display: none;
    }

    .output1 {
        visibility: visible;
        position: absolute;
        top: -73mm;
        left: -96mm;
        background-color: #fff;
        padding: 0;
        width: 290mm;
        height: 408mm;
    }

    .output1 * {
        visibility: visible;
    }

    .output2 {
        visibility: visible;
        position: absolute;
        top: 348mm;
        left: -96mm;
        background-color: #fff;
        padding: 0;
        width: 290mm;
        height: 408mm;
    }

    .output2 * {
        visibility: visible;
    }

    /* *********************** header ******************** */
    .print-logo {
        width: 60mm;
        margin-top: 10mm;
        margin-left: 20mm;
    }

    .print-logo-title {
        font-family: OpenSans-Bold;
        font-size: 4.1mm;
        margin: 2mm 20mm 6mm;
        width: 70mm;
    }

    .print-logo-hr {
        border-style: none;
        background-color: #009483;
        height: 7px;
        margin: 0;
    }

    .print-date-box {
        display: inline-block;
        position: absolute;
        top: 51mm;
        right: 20mm;
        border: solid 0.7mm #555;
        color: #555;
        padding: 0.5mm 5mm;
        font-family: OpenSans-Bold;
        font-size: 6mm;
    }

    /* *********************** left & right block ******************** */
    .print-left-block {
        float: left;
        height: 337mm;
        width: 20mm;
    }

    .print-right-block {
        position: absolute;
        right: 0;
        top: 70mm;
        height: 337mm;
        width: 20mm;
    }

    .gradient1 {
        background: linear-gradient(to right, #009483, #006459);
        height: 40mm;
        margin-top: 13mm;
    }

    .gradient2 {
        background: linear-gradient(to left, #009483, #006459);
        height: 15mm;
        margin-top: 317mm;
    }

    .print-vertical-line {
        float: right;
        margin-top: 6mm;
        height: 55mm;
        width: 0.2mm;
        background-color: #006459;
    }

    /* *********************** separators ******************** */
    .print-vertical-sep {
        background-color: #006459;
        display: inline-block;
        height: 55mm;
        width: 0.2mm;
    }

    .print-horizontal-sep {
        background-color: #006459;
        display: inline-block;
        width: 180mm;
        height: 0.2mm;
    }

    #sep1.print-vertical-sep {
        position: absolute;
        top: 77mm;
        left: 85mm;
    }

    #sep2.print-horizontal-sep {
        position: absolute;
        top: 132mm;
        left: 50mm;
    }

    #sep3.print-horizontal-sep {
        position: absolute;
        top: 218mm;
        left: 50mm;
    }

    #sep4.print-vertical-sep {
        position: absolute;
        top: 218mm;
        right: 127mm;
        height: 85mm;
    }

    #sep5.print-horizontal-sep {
        position: absolute;
        top: 208mm;
        right: 20mm;
    }

    #sep6.print-vertical-sep {
        position: absolute;
        top: 120mm;
        right: 20mm;
        height: 120mm;
    }

    /* *********************** row one ******************** */
    .print-row {
        display: inline-block;
        width: 249mm;
    }

    .print-title-box {
        float: left;
        margin-top: 10mm;
    }

    .print-intro-box {
        float: right;
        width: 175mm;
        margin-top: 11mm;
    }

    .print-big-title {
        font-family: OpenSans-Bold;
        font-size: 16mm;
        margin-left: 1mm;
        margin-bottom: -2mm;
    }

    .print-big-sub-title {
        font-family: OpenSans-Regular;
        font-size: 7mm;
        line-height: 1.1;
        letter-spacing: -0.4mm;
        width: 60mm;
        margin-left: 2mm;
    }

    .print-parag {
        font-family: OpenSans-Regular;
        font-size: 5mm;
        text-align: justify;
    }

    /* *********************** row two ******************** */

    .print-diag-title {
        font-family: OpenSans-Bold;
        color: #797979;
        font-size: 7mm;
        margin-top: 15mm;
        margin-left: 2mm;
    }

    .print-diag {
        margin-top: 4mm;
        margin-left: 2mm;
        float: left;
        height: 45mm;
        width: 60mm;
    }

    .print-diag-subtitle {
        font-family: OpenSans-SemiBold;
        font-size: 4.5mm;
        width: 55mm;
        padding: 2mm 1mm;
        background-color: #dddede;
    }

    .print-arches {
        display: inline-block;
        height: 48mm;
        width: 141mm;
    }

    .print-top-arch {
        float: left;
        position: relative;
        right: 10mm;
        height: 48mm;
        width: 70mm;
    }

    .print-bottom-arch {
        float: right;
        position: relative;
        right: 27mm;
        height: 48mm;
        width: 70mm;
    }

    .print-arch-title1 {
        font-family: OpenSans-Bold;
        font-size: 5mm;
        margin-left: 14mm;
        margin-top: 3mm;
    }

    .print-arch-title2 {
        font-family: OpenSans-Bold;
        font-size: 5mm;
        margin-left: 17mm;
        margin-top: 3mm;
    }

    .print-legend {
        position: absolute;
        top: 153mm;
        right: 20mm;
        width: 74mm;
    }

    .legend4,
    .legend3,
    .legend2,
    .legend1,
    .legend0 {
        display: inline-block;
        margin-bottom: 2mm;
        height: 8mm;
    }

    .square {
        float: left;
        height: 8mm;
        width: 8mm;
        border: solid 0.5mm #555;
    }

    .legend4 .square {
        background-color: #d62831;
    }

    .legend3 .square {
        background-color: #fadb65;
    }

    .legend2 .square {
        background-color: #2d94c1;
    }

    .legend1 .square {
        background-color: #bbdfeb;
    }

    .legend-para {
        font-family: OpenSans-Regular;
        font-size: 4.5mm;
        line-height: 1;
        margin: 0 0 0 9mm;
    }

    .legend4 .legend-para,
    .legend3 .legend-para,
    .legend1 .legend-para {
        margin-top: 1.5mm;
    }

    .legend2 .legend-para,
    .legend0 .legend-para {
        margin-top: -0.5mm;
    }

    /* *********************** row three ******************** */
    #row3.print-row {
        margin-top: 24mm;
        margin-left: 2mm;
        padding-right: 2mm;
    }

    #row3 .print-parag {
        margin-top: 3mm;
        margin-bottom: 3mm;
    }

    .print-result-title {
        font-family: OpenSans-Bold;
        color: #797979;
        font-size: 7mm;

    }

    .print-result-subtitle {
        font-family: OpenSans-Bold;
        color: #797979;
        font-size: 5.5mm;

    }

    .print-img-box {
        float: right;
        margin-top: 10mm;
        margin-left: 10mm;
    }

    .print-img-box img {
        height: 60mm;
        margin: 0 5mm;
    }

    .desc1 {
        display: inline-block;
        text-align: center;
        width: 40mm;
        margin-left: 6mm;
        position: relative;
        bottom: 4mm;
        font-family: OpenSans-Regular;
        font-size: 4.3mm;
    }

    .desc2 {
        display: inline-block;
        text-align: center;
        width: 40mm;
        margin-left: 12mm;
        font-family: OpenSans-Regular;
        font-size: 4.3mm;
        line-height: 1;
    }

    .sheet-num {
        position: absolute;
        bottom: 6mm;
        right: 25mm;
        font-family: OpenSans-ExtraBold;
        font-size: 10mm;
        color: #dddede;
    }

    /* *********************** row four ******************** */

    #row4.print-row {
        margin-top: 10mm;
        margin-left: 2mm;
        padding-right: 10mm;
    }

    .print-list-title {
        margin-left: 5mm;
        margin-top: 4mm;
        font-family: OpenSans-SemiBold;
        font-size: 4.8mm;
    }

    .print-list li {
        margin-top: 2mm;
    }

    .print-list-foot {
        margin-top: 4mm;
        font-family: OpenSans-SemiBold;
        font-size: 4.8mm;
        line-height: 1.2;
    }

    /* *********************** row five ******************** */

    #row5.print-row {
        margin-top: 17mm;
        margin-left: 2mm;
    }

    .float-L {
        float: left;
    }

    .section2-img-box {
        background-color: #dddede;
        width: 109mm;
        margin-bottom: 5mm;
        border-radius: 15mm 0 0 0;
        padding: 2mm 2mm 2mm 0;
    }

    .print-parag-except1 {
        font-family: OpenSans-Regular;
        font-size: 5mm;
        text-align: justify;
        margin-top: 3mm;
        margin-bottom: 3mm;
    }

    .print-parag-except2 {
        font-family: OpenSans-Regular;
        font-size: 5mm;
        text-align: justify;
        margin-top: 6mm;
        margin-bottom: 8mm;
    }

    .section2-img-box img {
        margin: 3mm 6mm 5mm 0;
        float: left;
    }

    .odd-num {
        font-family: OpenSans-ExtraBold;
        font-size: 10mm;
        color: #009483;
    }

    #one1 {
        background-color: #dddede;
        width: 12mm;
        height: 12mm;
        border-radius: 50%;
        padding-left: 2mm;
        position: absolute;
        left: 42mm;
        top: 217.5mm;
    }

    #two2 {
        background-color: #dddede;
        width: 12mm;
        height: 12mm;
        border-radius: 50%;
        padding-left: 2mm;
        position: absolute;
        left: 42mm;
        top: 264mm;
    }

    #three3 {
        background-color: #dddede;
        width: 12mm;
        height: 12mm;
        border-radius: 50%;
        padding-left: 2mm;
        position: absolute;
        left: 42mm;
        top: 302mm;
    }

    .smoke-box {
        float: right;
        background-color: #dddede;
        width: 90mm;
        padding: 5mm;
        border-radius: 15mm 0 0 0;
        margin-right: 20mm;
    }

    .markk-container {
        float: left;
        background-color: #8b8b8b;
        width: 22mm;
        height: 22mm;
        border-radius: 50%;
        margin: 0 4mm 0 -5mm;
    }

    .markk {
        position: relative;
        left: 8mm;
        bottom: 1mm;
        font-family: OpenSans-ExtraBold;
        font-size: 20mm;
        color: #dddede;
    }

    /* *********************** row six ******************** */

    #row6.print-row {
        margin-left: 2mm;
    }

    #row6 .print-parag {
        padding-right: 20mm;
    }

    .ending {
        text-align: justify;
        font-family: OpenSans-Regular;
        font-size: 4.3mm;
        margin-top: 7mm;
        margin-right: 20mm;

    }

}