/*   FONTS
OpenSans-Regular
OpenSans-Bold
OpenSans-Italic
OpenSans-Light
OpenSans-BoldItalic
OpenSans-SemiBold
OpenSans-SemiBoldItalic
OpenSans-ExtraBold
OpenSans-ExtraBoldItalic
OpenSans-LightItalic
*/

/* RESOLUTIONS 
    2560×1440 (non ancora implementata)
    1920x1080
    1536×864
    1440×900
    1366×768
*/

@media (min-width: 1600px) {
    .right-block {
        background: linear-gradient(to left, #009483, #006459);
        height: 140px;
        margin-top: 250px;
    }

    #bodyPage2 .right-block {
        margin-top: 550px;
    }

    .big-sub-title {
        font-family: OpenSans-Regular;
        font-size: 1.4rem;
        line-height: 1.1;
        letter-spacing: -1px;
        width: 50%;
        margin-left: 10px;
    }

    .bottom-left-box {
        background-color: #dddede;
        margin-right: 120px;
    }

    #internal.vertical-line {
        height: 310px;
        margin: 0;
        position: absolute;
        left: 385px;
        top: 50px;
    }

    .top-arch {
        text-align: center;
        position: absolute;
        top: 140px;
        left: 170px;
    }

    .bottom-arch {
        text-align: center;
        position: absolute;
        top: 85px;
        left: 178px;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) {
    .right-block {
        background: linear-gradient(to left, #009483, #006459);
        height: 140px;
        margin-top: 250px;
    }

    #bodyPage2 .right-block {
        margin-top: 430px;
    }

    .big-sub-title {
        font-family: OpenSans-Regular;
        font-size: 1.4rem;
        line-height: 1.1;
        letter-spacing: -1px;
        width: 50%;
        margin-left: 10px;
    }

    .bottom-left-box {
        background-color: #dddede;
        margin-right: 35px;
    }

    #internal.vertical-line {
        height: 310px;
        margin: 0;
        position: absolute;
        left: 335px;
        top: 50px;
    }

    .top-arch {
        text-align: center;
        position: absolute;
        top: 110px;
        left: 130px;
    }

    .bottom-arch {
        text-align: center;
        position: absolute;
        top: 45px;
        left: 135px;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .right-block {
        background: linear-gradient(to left, #009483, #006459);
        height: 140px;
        margin-top: 250px;
    }

    #bodyPage2 .right-block {
        margin-top: 400px;
    }

    .big-sub-title {
        font-family: OpenSans-Regular;
        font-size: 1.4rem;
        line-height: 1.1;
        letter-spacing: -1px;
        width: 80%;
        margin-left: 10px;
    }

    .bottom-left-box {
        background-color: #dddede;
        margin-right: 35px;
    }

    #internal.vertical-line {
        height: 310px;
        margin: 0;
        position: absolute;
        left: 305px;
        top: 50px;
    }

    .top-arch {
        text-align: center;
        position: absolute;
        top: 119px;
        left: 114px;
    }

    .bottom-arch {
        text-align: center;
        position: absolute;
        top: 45px;
        left: 123px;
    }
}

/* ********************************* BASIC CSS ********************************* */

body {
    background: linear-gradient(to right, #fff, 80%, #8f8f8f);
}

body .container {
    margin: 0;
    /* padding: 0; */
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #555;
}

/* ********************************* TITLES ********************************* */

.logo-title {
    font-family: OpenSans-Bold;
    font-size: 14px;
    margin: 10px 0 25px 15px;
}

.big-title {
    font-family: OpenSans-Bold;
    font-size: 3.5rem;
    margin-left: 10px;
}

@media (max-width: 1399px) {
    .big-sub-title {
        font-family: OpenSans-Regular;
        font-size: 1.4rem;
        line-height: 1.1;
        letter-spacing: -1px;
        width: 80%;
        margin-left: 10px;
    }
}

.secondary-title {
    font-family: OpenSans-Light;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.top-arch .secondary-title {
    margin: 0;
}

.bottom-arch .secondary-title {
    margin: 0;
}

.input-titles {
    color: #009483;
    font-family: OpenSans-Bold;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 3px;
}

.input-radio-labels {
    font-family: OpenSans-Light;
    font-size: 1rem;
    margin-right: 3px;
    position: relative;
    bottom: 6px;
    right: 5px;
}

.info-title {
    margin: 5px;
    font-family: OpenSans-Regular;
    font-size: 1.5rem;
}

.info-subtitle {
    margin: 4px;
    font-family: OpenSans-Light;
    font-size: 1.1rem;
}

.roof-head-title {
    font-family: OpenSans-SemiBold;
    font-size: 3rem;
    color: #898989;
    margin: 5px 0 20px -10px;
}

/* ********************************* INPUTS ********************************* */

.custom-inputs {
    font-family: OpenSans-SemiBold;
    border-width: 1px;
    border-color: #555;
    height: 25px;
    font-size: 13px;
    color: #555;
    padding-left: 7px;
    margin-bottom: 8px;
    width: 100%;
}

.custom-inputs:focus {
    background-color: #e7efcc;
    outline: none;
}

#exam-date.custom-inputs {
    width: 55%;
}

.custom-radios {
    -webkit-appearance: none;
    border: solid 1px #555;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 5px;
}

/* .custom-radios:after {
    qui va inserito ciò che voglio vedere dentro l'input radio prima di  aver cliccato
} */

.custom-radios:checked:after {
    background-color: #009483;
    border-radius: 25px;
    height: 15px;
    width: 15px;
    content: '';
    display: block;
    position: relative;
    left: 4px;
    top: 4px;
}

.teeth-inputs {
    font-family: OpenSans-SemiBold;
    border-width: 1px;
    border-color: #555;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
}

.teeth-inputs:focus {
    background-color: #e7efcc;
    outline: none;
}

.top input::-webkit-calendar-picker-indicator {
    display: none;
}

.bottom input::-webkit-calendar-picker-indicator {
    display: none;
}

/* ********************************* BUTTONS ********************************* */

.nxt-button {
    font-family: OpenSans-Regular;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #555;
    color: #fff;
    border-radius: 50px;
    padding: 6px 18px 6px 22px;
}

.nxt-button:hover {
    background-color: rgb(165, 165, 165);
    color: #fff;
}

.prv-button {
    font-family: OpenSans-Regular;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #555;
    color: #fff;
    border-radius: 50px;
    padding: 6px 12px 6px 8px;
    margin-top: 8px;
}

.prv-button:hover {
    background-color: rgb(165, 165, 165);
    color: #fff;
}

.icon {
    margin-bottom: 3px;
}

.icon-hover {
    filter: blur(3px) brightness(150%);
}

#page1-nxt-btn {
    position: relative;
    top: 50px;
    left: 300px;
}

.print-button {
    font-family: OpenSans-Regular;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #009483;
    color: #fff;
    border-radius: 50px;
    padding: 6px 18px 6px 22px;
    margin-top: 7px;
    margin-right: 200px;
}

.print-button:hover {
    background-color: #00e0c6;
    color: #fff;
}

/* ********************************* ALL PAGES ********************************* */

.logo {
    max-width: 58%;
    margin-top: 35px;
    margin-left: 15px;
}

.logo-col {
    padding: 0;
}

.logo-hr {
    border-style: none;
    background-color: #009483;
    height: 7px;
    margin: 0 -1%;
}

.body-col {
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}

.left-block {
    background: linear-gradient(to right, #009483, #006459);
    height: 140px;
    margin-top: 50px;
}

@media (max-width: 1399px) {
    .right-block {
        background: linear-gradient(to left, #009483, #006459);
        height: 140px;
        margin-top: 250px;
    }

    #bodyPage2 .right-block {
        margin-top: 370px;
    }
}

#roof-head .left-block {
    height: 30px;
}

#roof-head .right-block {
    height: 30px;
    margin-top: 125px;
}

.vertical-line {
    margin-top: 20px;
    height: 200px;
    width: 1px;
    background-color: #006459;
}

@media (max-width: 1399px) {
    #internal.vertical-line {
        height: 310px;
        margin: 0;
        position: absolute;
        left: 305px;
        top: 50px;
    }
}

#roof-head .vertical-line {
    margin-top: 35px;
    height: 60px;
}

/* ********************************* FIRST PAGE ********************************* */

.top-left-box {
    margin-bottom: 50px;
    padding: 0;
}

.top-right-box {
    padding: 10px 0 0 20px;
}

.sub-container1 {
    display: inline-block;
    width: 65%;
    margin-right: 15px;
}

.sub-container2 {
    display: inline-block;
    width: 28%;
    position: relative;
    bottom: 1px;
}

.sub-container3 {
    display: inline-block;
    width: 12%;
    margin-right: 113px;
}

.sub-container4 {
    display: inline-block;
    margin-right: 114px;
    position: relative;
    top: 8px;
}

.sub-container5 {
    display: inline-block;
    position: relative;
    top: 8px;
}

@media (max-width: 1399px) {
    .bottom-left-box {
        background-color: #dddede;
        margin-right: 15px;
    }
}

/* ********************************* SECOND PAGE ********************************* */

.top-title-box {
    padding-left: 0;
}

.button-box {
    float: right;
    width: 60%;
    text-align: center;
}

@media (max-width: 1399px) {
    .top-arch {
        text-align: center;
        position: absolute;
        top: 110px;
        left: 114px;
    }

    .bottom-arch {
        text-align: center;
        position: absolute;
        top: 45px;
        left: 112px;
    }
}

.info-box {
    float: right;
    background-color: #dddede;
    padding: 10px;
}

.top {
    text-align: center;
    margin: 0 0 20px 0;
}

.top input {
    margin: 0 15px 0 15px;
}

.bottom {
    text-align: center;
    margin: 0;
}

.bottom input {
    margin: 0 15px 0 15px;
}

/* ********************************* TEETH ********************************* */

.molar-ext {
    fill: none;
    stroke: #B6B7B9;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.molar-int {
    fill: #B6B7B9;
}

.teeth-ext {
    fill: none;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.teeth-int {
    fill: #53575A;
}

.state-one {
    fill: #bbdfeb;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.state-two {
    fill: #2d94c1;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.state-three {
    fill: #fadb65;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.state-four {
    fill: #d62831;
    stroke: #53575A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}



/* ********************************* PRINT ROOF ********************************* */

.roof-head-body {
    background-color: #fff;
    margin: 30px 0;
}

.button-handler {
    float: right;
    margin-right: 50px;
    padding-bottom: 10px;
}

.roof-logo-hr {
    border-style: none;
    background-color: #009483;
    height: 7px;
    margin: 0 -1% 40px -1%;
}

#alpha .col {
    padding: 0;
    margin-bottom: 40px;
}